.Demo {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  .login-form {
    display: flex;
    padding-bottom: 5px;
  }

  .login-input {
    min-width: 250px;
  }

  .login {
    display: block;
    margin: auto;
  }

  .demo {
    display: block;
    margin: auto;
  }

  h1 {
    text-align: center;
  }

  .demo-button {
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .login-button button:enabled {
    display: block;
    margin: auto;
    background-color:#2512bc;
    color: #fff;
    border:none;
    width: 100px;
  }
